<script type="text/template" id="componenteVentasEnLineaList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>productoId</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(componenteVentasEnLineas, function(componenteVentasEnLinea) { %>
    <tr>
		<td><%= htmlEncode(componenteVentasEnLinea.getDisplay('name')) %></td>
		<td><%= htmlEncode(componenteVentasEnLinea.getDisplay('productoId')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-componenteVentasEnLinea-edit',{id:<%= componenteVentasEnLinea.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-componenteVentasEnLinea-delete',{id:<%= componenteVentasEnLinea.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="componenteVentasEnLinea">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-componenteVentasEnLineaForm">
    <% if(componenteVentasEnLinea.id) {%>
    <input type="hidden" name="id" value="<%= componenteVentasEnLinea.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= componenteVentasEnLinea.get('name') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="productoidId">productoId</label> 
            <select class="form-control" id="productoId" name="productoId">
			  <option value="">None</option>
            <% producto.each(function(productoid) { %> 
              <option value="<%=productoid.get('id')%>" <% if(componenteVentasEnLinea.get('productoId')==productoid.get('id')) {%>selected<%}%> ><%=productoid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 